---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Daniel, student at Epitech and also front-end/software developer based in Paris.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Nodejs</li>
        <li>python</li>
        <li>Astro</li>
        <li>C</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about sports crypto and traveling.
      fun fact: i have a list of movie name that i watch since 2012.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even those that i don't know. I learn faster than my shadow. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
