---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from 'astro-icon/components'
import Tooltip from "./Tooltip/index";
---
<script>
  import netlifyIdentity from 'netlify-identity-widget';

  document.addEventListener("DOMContentLoaded", function () {
  const netlifyModal = document.getElementById('netlify-modal');
  if (netlifyModal) {
    netlifyIdentity.init({
      container: '#netlify-modal', // Ensure this element exists
      locale: 'en' // Optional: Specify the locale
    });
    netlifyIdentity.on('init', user => {
      console.log('Netlify Identity user:', user);
    });
    netlifyIdentity.on('login', user => {
      console.log('Logged in user:', user);
      window.location.href = '/servicesPrice';
    });
    const signupButton = document.getElementById('signup-button');
    const loginButton = document.getElementById('login-button');
    if (signupButton) {
      signupButton.addEventListener('click', function(event) {
        event.preventDefault();
        netlifyIdentity.open('signup');
      });
    }
    if (loginButton) {
      loginButton.addEventListener('click', function(event) {
        event.preventDefault();
        netlifyIdentity.open('login');
      });
    }
  } else {
    console.error("Container element for Netlify Identity not found.");
  }
});
</script>

<Card colSpan="md:col-span-4" rowSpan="md:row-span-0.5">
  <section class="bg-black-500 border-b border-black/5">
    <div class="w-full mx-auto px-4 md:px-12 max-w-7xl lg:px-16">
      <nav
        class="flex flex-col items-center md:flex-row md:justify-end md:pb-0">
        <p class="m-0 font-light text-lg md:text-xl text-center md:text-left">
          You can sign up to receive a 20% discount on each service.
        </p>
        <div class="inline-flex flex-col md:flex-row items-center gap-2 list-none lg:ml-auto mt-4 md:mt-0">
          <button
            id="signup-button"
            class="block px-4 py-2 text-sm font-medium text-white bg-black hover:bg-gray-800 focus:outline-none focus:shadow-outline">
            Sign up
          </button>
          <button
            id="login-button"
            class="inline-flex items-center h-8 justify-center px-4 py-2 text-sm font-medium text-black bg-gray-100 rounded-lg focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-gray-400 active:bg-white active:text-accent-400 focus-visible:outline-black">
            Log in
          </button>
        </div>
      </nav>
    </div>
  </section>
</Card>





<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <b class="font-bold">Daniel K</b>, a software
          developer/ Web developer, you need any website or app i'm your guys.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.Github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.Linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.Instagram} aria-label="IG profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:instagram-fill" class="h-6" />
            <span class="sr-only">Instram Profile</span>
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon name="ri:emotion-laugh-line" class="h-6" />
            <span class="sr-only">Easter egg button</span>
          </Button>
        </Tooltip>
      </div>
    </div>
    <img
      width="300"
      height="300"
      src="/bitmo-fotor.webp"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="memoji of gianmarco"
    />
  </div>
</Card>

